---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Music Home.">
  <div
    id="playlist-container"
    class="relative transitions-all duration-1000 bg-green-600"
  >
    <div class="relative z-10 px-6"></div>

    <style></style>
  </div>
</Layout>
